nav{
    background-color: #fff;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: none; 
    
}
nav img{
    /* max-width: 40%; */
    width: 100px;
}
nav a{
    color:#34bf49 !important;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700 !important;
}
nav #nav-call-button{
    background-color: #34bf49;
    color: #fff !important;
    padding: 10px 20px;
    border: 2px solid #34bf49;
    margin-left:15px ;
}
nav #nav-call-button:hover{
    background-color: transparent;
    color: #34bf49 !important;
    transition: .2s ease-in-out;
}