
.numbers{
    background-color: #AB3550;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    
}
.numbers .row {
    margin: auto;
    text-align: center;
    padding: 50px;
}
.numbers .row h2{
    font-size: 3em;
    font-weight: 700;
}

.numbers .row h6{
    
    font-weight: 500;
}


/* Sliders - Testmonials */

.slider{
    background-color: #AB3550;
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 25px 0;
    color: white;
}
.slider h2{
    font-size: 2em;
    margin: 1.5em;
    font-weight: 700;
}
.slider img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px auto 200px;
}
.slider h3{
    color: #AB3550;
    font-size: 1em;
    font-weight: 700;
}
.slider .carousel-caption{
    color:#212121;
    font-size: 1.2em;
    line-height: 30px;
}
.slider .carousel-caption p{
    color: #212121;
    display: block;
    margin: 15px;

}
.slider .carousel{
    background-color: #fff;
    width: 70%;
    margin: auto;
    border-radius: 15px;
}
.carousel-indicators button{
    background-color: #AB3550 !important;
}