.OurFoods {
    margin-bottom: 5em;
}
.OurFoods .info {
    text-align: center;
    margin: 5em 0;
}
.OurFoods .info h2, .FAQ h2{
    font-size: 2em;
    font-weight: 700;
    color: #34bf49;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.OurFoods .info p{
    width: 70%;
    margin: auto;
    color: #333;
}
.meal img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;

}

.meal .title{
    font-family: 'Quicksand',sans-serif;
    font-weight: 700;
    color: #34bf49;
    margin-top: 1em;
}
.meal .time{
    color: #333;
}
.meal .price{
    font-size: 1.5em;
    font-weight: 700;
    color: #34bf49;
    margin: .8em 0;
}
.meal .oldPrice{
    text-decoration: line-through;
    color: #777;
}
.meal hr{
    color:#ab35516e;
}
.meal button, .paralex button{
    font-size: 1em;
    font-weight: 700 !important;
    width: 150px;
    height: 50px;
    border: none ;
    /* margin: 1em 1em 1em 0; */
    background-color: #34bf49;
    color: #fff;
}
.meal button:hover{
    color: #34bf49;
    border: 3px solid #34bf49;
    transition: .2s ease-in-out;
    background-color:#fff !important;
}

/* FAQ Section*/

.FAQ {
    margin: 5em;
}

.FAQ h2{
    margin: 2em;
    color: #34bf49;
}
.FAQ h5{
    color: #34bf49;
}

.FAQ h5 span{
    color: #f98169;
}
.FAQ p{
    color: #555;
}

/* paralex2 */
.paralex2{
    background: url('./../../assets/paralex2.jpg') center no-repeat;
    background-size: cover;
    background-color: grey;
background-blend-mode: multiply;
    height: 100%;
    padding-bottom: 5em;
}
.paralex2 h2{
    color: #fff;
    display: inline-block;
}


/* newsletter */
.newsletter {
    background: none;
}
.newsletter .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter p {
    margin-top: 2em;
}
.newsletter input{
    width: 20em ;
    height: 2.7em;
    border: 2px solid #e5e5e5;
    font-weight: 700;
}
.newsletter input:focus{
    outline: none;
}
.newsletter input[type=submit]{
    font-size: 1em;
    font-weight: 700 !important;
    border: none ;
    /* margin: 1em 1em 1em 0; */
    background-color: #34bf49;
    color: #fff;
}
.newsletter input[type=submit]:hover{
    color: #34bf49;
    border: 3px solid #34bf49;
    transition: .2s ease-in-out;
    background-color:#fff !important;
}
