.OurFoods {
    margin-bottom: 5em;
}
.OurFoods .info {
    text-align: center;
    margin: 5em 0;
}
.OurFoods .info h2{
    font-size: 2em;
    font-weight: 700;
    color: #AB3550;
    font-family: 'Quicksand', sans-serif;
}
.OurFoods .info p{
    width: 70%;
    margin: auto;
    color: #333;
}
.meal img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;

}

.meal .title{
    font-family: 'Quicksand',sans-serif;
    font-weight: 700;
    color: #43121d;
    margin-top: 1em;
}
.meal .time{
    color: #333;
}
.meal .price{
    font-size: 1.5em;
    font-weight: 700;
    color: #AB3550;
    margin: .8em 0;
}
.meal .oldPrice{
    text-decoration: line-through;
    color: #777;
}
.meal hr{
    color:#AB3550;
}
.meal button{
    font-size: 1em;
    font-weight: 700 !important;
    width: 150px;
    height: 50px;
    border: none ;
    /* margin: 1em 1em 1em 0; */
    background-color: #AB3550;
    color: #fff;
}
.meal button:hover{
    color: #AB3550;
    border: 3px solid #AB3550;
    transition: .2s ease-in-out;
    background-color:#fff !important;
}